<div class="cuerpo">

    <div *ngIf="!activeUser" class="container centrado">
        <h1 class="pb-5">Welcome to Netflix</h1>

        <h3>You have not accessed the system yet</h3>
        <h3 class="pb-5">You can log in or register</h3>

        <button class="btn btn-info" [routerLink]="['/login']">Go to Login</button>
        <button class="btn ml-5 btn-info" [routerLink]="['/signup']">Go to Register</button>
    </div>


    <div *ngIf="activeUser" class="container centrado">
        <h1>Welcome {{ activeUser }}</h1>

        <!-- borrar -->
        <p>active suscription: {{ activeSuscription }}</p>
    </div>



    <form [formGroup]="subscriptionForm" action="">

        <div *ngIf="activeUser && !activeSuscription" class="container">
            <div class="form-group">
                <label for="selectSubscription">Choose a subscription type:</label>
                <select class="form-control" id="selectSubscription" formControlName="tipoSuscripcion"
                    (change)="showInfo()">
                    <option disabled selected value>Select an option</option>
                    <option *ngFor="let st of suscriptionTypes" value="{{st.value}}">
                        {{ st.name }}
                    </option>
                </select>
            </div>

            <button class="btn btn-info" [disabled]="!subscriptionForm.valid" (click)="activateSubscription()">
                Activate Subscription
            </button>
        </div>

    </form>



    <div *ngIf="activeSuscription" class="container">
        <div id="divTablaProductos" class="form-group divTabla">
            <label for="tablaProductos">Productos disponibles:</label>
            <table id="tablaProductos" class="tabla">
                <tr>
                    <!-- <th>Product</th> -->
                    <th>Title</th>
                    <th>Category</th>
                    <th>Tipe content</th>
                    <th>Watch</th>
                </tr>
                <tr *ngFor="let p of productsAvailable">
                    <!-- <td>{{ p.idProduct }}</td> -->
                    <td>{{ p.title }}</td>
                    <td>{{ p.categoria }}</td>
                    <td>{{ p.tipoContenido }}</td>
                    <td>
                        <!-- <button class="btn btn-info" (click)="setIdProduct( p.idProduct )"> -->
                        <button class="btn btn-info" (click)="addVisual( p.idProduct )">
                            Go
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="activeUser && activeSuscription" class="container">
        <button *ngIf="!visualsActivated" class="btn btn-info objCentrado" (click)="showVisuals(); setVisualsOn()">
            Show visuals
        </button>
        <button *ngIf="visualsActivated" class="btn btn-info objCentrado" (click)="setVisualsOff()">
            Close visuals
        </button>
    </div>

    <div *ngIf="visualsActivated" class="container">

        <div id="divTablaVisuals" class="form-group divTabla">
            <label for="tablaVisuals">Historial de visualizaciones:</label>
            <table id="tablaVisuals" class="tabla">
                <tr>
                    <!-- <th>Visual</th> -->
                    <th>Product</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                <tr *ngFor="let v of customerVisuals">
                    <!-- <td>{{ v.idVisual }}</td> -->
                    <td>{{ v.producto.title }}</td>
                    <td>{{ v.inicio }}</td>
                    <td>{{ v.fin }}</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- <div id="divTablaVisuals" class="form-group divTabla">
        <label for="tablaVisuals">Historial de visualizaciones:</label>
        <table id="tablaVisuals" class="tabla">
            <tr>
                <th>Visual</th>
                <th>Product</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            <tr *ngFor="let v of customerVisuals">
                <td>{{ v.idVisual }}</td>
                <td>{{ v.producto.title }}</td>
                <td>{{ v.inicio }}</td>
                <td>{{ v.fin }}</td>
            </tr>
        </table>
    </div> -->




</div>